// Article page

.skeleton-text-lynk {
  background: $color-grey-light;

  &:after {
    content: ' ';
    white-space: pre;
  }

  .comment-meta__name & {
    line-height: 1.2;
    width: 110px;
  }

  .comment__body & {
    line-height: 1.1;
    margin-bottom: 6px;
    width: 60%;

    &:first-child {
      width: 90%;
    }
  }

}

.progress-lynk {
  background-image: repeating-linear-gradient(
                  -90deg,
                  $color-grey-dark 3px,
                  $color-grey-darkest 14px,
                  $color-grey-dark 20px,
                  $color-grey-dark 20px /* determines size */
  );
  background-size: 28px 28px;
  animation: progress-lynk 1.5s linear infinite;
}

@keyframes progress-lynk {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}

// todo: fix for small screens
.gotop-comment-lynk {
  display: block;
  position: relative;
  bottom: -12px;
  border: 1px solid $color-grey-medium;
  border-radius: 100%;
  width: 23px;
  height: 23px;
  margin: 0 auto;
  background: white;
  transform: rotate(-90deg) translateY(320px);
  z-index: 3;

  &:after {
    position: absolute;
    left: 4px;
    bottom: 1px;
    content: '\027A4';
    color: $color-zeit-icon;
    font-size: 13px;
  }

  &:hover {
    color: $color-grey-darkest;
  }
}

.posi-rel-lynk {
  position: relative;
}

// User page
#zontb-btn-user {

  border: 1px solid $color-grey-medium;
  padding: 0 10px 4px 0;
  border-radius: 15px;
  cursor: pointer;
  color: $color-primary;
  grid-row: 6;
  line-height: 1.3;
  font-size: 15px;
  background: #fff;
  margin-top: 6px;

  svg {
    position: relative;
    transform: scale(1.5);
    top: 4px;
    left: 4px;
    margin-right: 15px;
  }

  path, rect {
    fill: white;
  }

  circle {
    fill: $color-secondary;
    stroke: $color-grey-medium;
  }

  &.is-blacklisted {
    color: black;

    circle {
      fill: $color-grey-darkest;
    }
  }

}

// Zeit Online
.usr-prf-wrp .usr-rec-cmts {
  margin-top: 20px !important;
}






