// Article page

.skeleton-text-lynk {
  background: $color-grey-light;

  &:after {
    content: ' ';
    white-space: pre;
  }

  .comment-meta__name & {
    line-height: 1.2;
    width: 110px;
  }

  .comment__body & {
    line-height: 1.1;
    margin-bottom: 6px;
    width: 60%;

    &:first-child {
      width: 90%;
    }
  }

}


// todo: fix for small screens
.gotop-comment-lynk {
  display: block;
  position: relative;
  bottom: -12px;
  border: 1px solid $color-grey-medium;
  border-radius: 100%;
  width: 23px;
  height: 23px;
  margin: 0 auto;
  background: white;
  transform: rotate(-90deg) translateY(320px);
  z-index: 3;

  &:after {
    position: absolute;
    left: 4px;
    content: '\027A4';
    color: $color-zeit-icon;
    font-size: 13px;
  }
  
  &:hover {
    color: $color-grey-darkest;
  }
}

.posi-rel-lynk {
  position: relative;
}

// User page
#zontb-btn-user {

  border: 1px solid $color-grey-medium;
  padding: 5px 10px 5px 0;
  border-radius: 12px;
  cursor: pointer;
  color: $color-primary;

  svg {
    position: relative;
    transform: scale(1.51);
    top: 4px;
    left: 2px;
    margin-right: 11px;
  }

  path, rect {
    fill: white;
  }

  circle {
    fill: $color-secondary;
    stroke: $color-grey-medium;
  }

  &.is-blacklisted {
    color: black;

    circle {
      fill: $color-grey-darkest;
    }
  }

}

// Zeit Online
.usr-prf-wrp .usr-rec-cmts {
  margin-top: 20px !important;
}






