html {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  font-family: $font-family;
  font-size: 13px;
  max-width: 640px;
  letter-spacing: 0.3px;
  color: $color-grey-darkest;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

body * {
  box-sizing: border-box;
}

header {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: $color-primary;
  text-align: center;
  line-height: 1;

  .zeit-heading {
    font-family: "Times New Roman", serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.6px;
  }
}

footer {
  margin-top: 28px;
  text-align: center;
}

.footer--icons {
  width: 18px;
  height: auto;
  opacity: .8;
  margin: 0 4px;
}

#wrapper {
  background: #ffffff;
  padding: 16px 12px;

  h4 {
    font-size: 13px;
    letter-spacing: 1.2px;
    width: 50%;
    margin: 14px auto 12px auto;
    text-align: center;
    padding: 8px 0 0;

    &:first-of-type {
      border-top: 1px solid $color-secondary;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}

#options {

  li {
    border: 1px solid $color-grey-medium;
    margin: 0 6px 6px 0;
    height: 190px;
    width: 201px;
    padding: 12px 8px;
    border-radius: $border-radius-std;

    &:last-child {
      border: 1px solid white;
      margin-right: 0;
      padding: 7px 24px;
      @extend .el2;
    }

    p {
      color: $color-grey-darkest;
      font-size: 12px;
      line-height: 1.5;
    }
  }

  .support {
    font-style: italic;
  }

  label {
    font-weight: bold;
    color: $color-grey-darkest;
  }

  a {
    color: $color-grey-darkest;
  }

  .ui-switcher {
    float: right;
  }

}

#blacklist {

  a {
    text-decoration: none;
    vertical-align: middle;

    svg {
      display: inline-block;
      position: relative;
      top: -2px;
      fill: $color-grey-darkest;
      transform: scale(1.1);
    }
  }

  li {
    border: 1px solid $color-grey-medium;
    border-radius: $border-radius-std;
    padding: 6px 12px 3px 10px;
    margin: 0 6px 6px 0;

    &:first-letter {
      font-weight: 800;
    }
  }

  .remove {
    color: $color-secondary;
    font-weight: 900;
    margin: 0 12px 0 16px;
    cursor: pointer;
    font-size: 22px;
    line-height: 0;
    vertical-align: sub;
    transform: scale(1.2);
    display: inline-block;
  }
}