html {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  font-family: $font-family;
  font-size: 13px;
  max-width: 640px;
  letter-spacing: 0.3px;
  color: $color-grey-darkest;
  line-height: 1.3;
}

body * {
  box-sizing: border-box;
}

header {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #ffffff;
  text-align: center;
  background-color: $color-primary;
  padding: 1px 12px 6px;
  line-height: 1;
  border-radius: $border-radius-std;
  margin-top: 10px;


  .zeit-heading {
    font-family: "Times New Roman", serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.6px;
  }
}

footer {
  position: absolute;
  bottom: 20px;
  height: 20px;
  width: 640px;
  text-align: center;
}

#wrapper {
  background: #ffffff;
  //border: 1px solid $color-primary;
  border-top: 0;
  padding: 14px 12px;

  h4 {
    border-bottom: 1px solid $color-secondary;
    margin: 30px 0 14px;
    font-size: 14px;
    letter-spacing: 1.2px;

    &:first-child {
      margin-top: 10px;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}

#options {

  li {
    border: 1px solid $color-grey-medium;
    margin: 0 6px 6px 0;
    height: 190px;
    width: 201px;
    padding: 12px 8px;
    border-radius: $border-radius-std;

    &:last-child {
      margin-right: 0;
      padding: 12px 22px;
    }

    p {
      color: $color-grey-dark;
      font-size: 12px;
      line-height: 1.5;
    }
  }

  .support {
    font-style: italic;
  }

  label {
    font-weight: bold;
    color: $color-grey-darkest;
  }

  a {
    color: $color-grey-darkest;
  }

  .ui-switcher {
    float: right;
  }

}

#blacklist {

  a {
    text-decoration: none;
  }

  li {
    border: 1px solid $color-grey-medium;
    border-radius: 10px;
    padding: 4px 10px 4px 8px;
    margin: 0 4px 4px 0;
  }

  .remove {
    color: #dc543e;
    font-weight: 900;
    padding: 0 1px;
    margin: 0 10px 0 16px;
    cursor: pointer;
    font-size: 20px;
    line-height: 0;
    vertical-align: sub;
  }
}