body {
  background: rgb(255, 255, 255);
  font-family: $font-family;
  font-size: 13px;
  letter-spacing: 0.4px;
  margin: 3px;
  color: black;
}

a {
  color: black;

  &:hover {
    text-decoration: none;
  }
}

header {
  font-weight: 700;
  letter-spacing: 1.5px;
  text-align: center;
  color: $color-primary;
  line-height: 1;
  margin-bottom: 12px;
  padding-bottom: 7px;
  border-bottom: 1px solid $color-primary;

  .zeit-heading {
    font-family: "Times New Roman", serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.6px;
  }

  svg {
    fill: white;
    position: relative;
    top: 3px;
  }

  circle {
    fill: $color-secondary;
    stroke: white;
  }
}

#wrapper {
  padding: 2px 12px 12px;
  width: 214px;

  .ui-switcher {
    float: right;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }
}