.ui-switcher {
  background-color: #c1c1c1;
  display: inline-block;
  height: 20px;
  width: 48px;
  border-radius: 10px;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  margin: -2px 0 0;
  transition: border-color 0.15s;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15);

}
.ui-switcher:before {
  font-family: $font-family;
  font-size: 9px;
  letter-spacing:0.8px;
  font-weight: 400;
  color: #ffffff;
  line-height: 1;
  display: inline-block;
  position: absolute;
  top: 6px;
  height: 12px;
  width: 20px;
  text-align: center;
}

.ui-switcher[aria-checked=false]:before {
  content: 'AUS'; /* aus */
  right: 7px;
}
.ui-switcher[aria-checked=true]:before {
  content: 'AN';
  left: 7px;
}
.ui-switcher[aria-checked=true] {
  background-color: #7fb92f;
}

.ui-switcher:after {
  background-color: #ffffff;
  content: '\0020';
  display: inline-block;
  position: absolute;
  top: 2px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  transition: left 0.15s;
}

.ui-switcher[aria-checked=false]:after {
  left: 2px;
}
.ui-switcher[aria-checked=true]:after {
  left: 30px;
}